@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
 
body {
    background-image: url(https://media.giphy.com/media/5vgHoMiknf5iJl8FH1/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}
h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 5em;
    position: fixed;
  top: 0;
 right: 27%;

}
p{
    color:white;
    text-align: center;
    font-size: 2em;
    margin-right: 30%;
    margin-left: 30%;
    font-family: 'Shippori Antique B1', sans-serif;
    background-image: url(img/ukraineflag.png);
    background-size: cover;
    padding-bottom: 2em;
    position:fixed;
    top:30%;
    
}

#pray{
    position: absolute;
    left:70rem;
    top:4rem;
    width: 10%;
}
#fire{
    position:absolute;
bottom: .5rem;
left: .5rem;
width: 100%;  
    }
#explosive{
    position:absolute;
top: 10rem;
left: 5rem;
width:25%;
}
#blood{
    position:fixed;
    top:10rem;
    left: 25rem;
    width:47%
}
#tank{
    position:fixed;
    bottom:10rem;
    right: 4rem;
    width:20%;
}
#tryzub {
    position:fixed;
    width:3%;
    right:35%;
    bottom:25%;
}