/* Write all your custom CSS below this line  */
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Raleway:wght@200&display=swap');
body {
    background-color:#351431;
    margin: 0;
}

h1 {
    border: 5px gray;
    background: #775253;
    text-align: center;
    color:#D1d3c4;
    padding: 10px 40px 0px 80px;
    margin: 0;
    font-family: 'Gideon Roman', cursive;
}

h2 {
    text-align: center;
    background: #775253;
    color:#D1d3c4;
    padding: 10px 40px 10px 80px;
    margin: 0;
    font-size: 15px;
    font-family: sans-serif ;
    font-weight:normal;
}


nav {
    text-align: center;
    background: #775253;
    margin: 0;
    padding: 10px 40px 20px 80px;
    font-family: 'Raleway', sans-serif;

}
a {color: #Bdc696;
    padding-right: 20px;
}

h3 { background: #775253;
    border-left: 5px solid #Bdc696;
    padding: 20px;
    margin: 90px 250px 0px 250px;
color: #D1d3c4;}
.header{
    padding: 20px;
    margin: 30px 250px 0px 250px;
}

p {
    background: #3c6e71;
    border-left: 5px solid #Bdc696;
    padding: 30px 20px 30px 20px;
    margin: 0px 250px 30px 250px;
    color: #D1d3c4;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
  }

  #footer {background: #775253;
    padding: 30px 30px 30px 30px;
    margin: 90px 0px 0px 0px;
    text-align: center;
    border-left: 0px solid #Bdc696;}

  