/* Write all your custom CSS below this line  */

body {
    background-color:#351431;
    margin: 0;
}

h1 {
    border: 5px gray;
    background: #775253;
    text-align: center;
    color:#D1d3c4;
    padding: 20px 40px 60px 80px;
}

h2 {
    text-align: center;
    background: #775253;
    color:#D1d3c4;
}

h3 {
    color:#D1d3c4;

}

nav {
    text-align: center;
    background: #775253;
    
}
a {color: #Bdc696
}

p {
    background: #3c6e71;
    border: 5px gray;
    padding: 20px 40px 60px 80px;
    margin: 30px;
    color: #D1d3c4;
}